/*Use this file to override bootstrap and apply custom CSS*/
/*This body padding keeps the navbar from covering up content.*/
body {
  /*min-height: 4000px;*/
  background: url(/images/vichy-yellow.jpg);
}
.navbar {
/*	font-family: 'Droid Serif', serif;*/
	height: 100px;
	border: none;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0.4))), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
.navbar-header {
	height: 100px;
}
.navbar-collapse {
	border-top: none;
	box-shadow: none;
}
.navbar-brand > img {
	height: 50px;
}
a.navbar-brand {
	padding: 25px 15px;
}
.navbar-default .navbar-nav > li > a {
	line-height: 40px;
	padding: 0px 5px 0px;
	margin: 30px 10px 30px;
	color: #26282b;
	font-size: 28px;
	font-style: italic;
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 30px rgba(255,255,255,1), 0px 0px 50px rgba(255,255,255,1), 0px 0px 180px rgba(255,255,255,1);
	font-family: "Lato", "Trebuchet MS", sans-serif;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	margin-bottom: 0px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
	color: #26282b;
	background: #fafafa;
}
.navbar-default .navbar-nav > .open > a.flip,
.navbar-default .navbar-nav > .open > a.flip:hover,
.navbar-default .navbar-nav > .open > a.flip:focus {
	margin-bottom: 0px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 0px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
	color: #26282b;
	background: #fafafa;
}
.dropdown-menu {
	border: none;
	color: #26282b;
	background: #fafafa;
	border-radius: 10px;
	min-width: 0px;
	padding-top: 3px
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
/*   font-style: italic; */
  font-weight: bold;
  background: inherit;
}
.navbar-nav > li > .dropdown-menu {
	border-top-left-radius: 10px;
}
.navbar-nav > li > ul.flip {
	border-top-left-radius: 0px;
}
.dropdown-menu > li.dropdown-header,
.dropdown-menu > li > a {
	text-align: right;
}
.dropdown-header {
	font-style: italic;
}
@media(max-width: 991px){
	.navbar-collapse {
		max-height: none;
	}
	.navbar-brand > img {
		height: 40px;
	}
	a.navbar-brand {
	padding: 30px 15px;
	}
	.clearup {
		margin-right: -15px;
		overflow: hidden;
	}
	.navbar-default .navbar-collapse {
		background: #fafafa;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		width: 150px;
		float: right;
		margin-left: 100px;
	}
	.navbar-default .navbar-nav > li > a {
		text-align: right;
		margin: 0px 10px;
		font-size: 18px;
		line-height: 30px;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		background: inherit;
	}
	/*.nav .navbar-nav {
		background-color: #fff !important;
	}*/
}
.navbar-toggle {
	margin-top: 27px;
	margin-bottom: 27px;
	padding: 11px 12px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.navbar-toggle .icon-bar {
	width: 28px;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 8px;
}
.jumbotron {
	background: none;
}
.dropdown-header {
	font-size: 14px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  /*text-decoration: underline;*/
  color: #26282b;
  /*text-shadow: 0px 0px 15px #dfdb8f;*/
  border-radius: 10px;
  background-color: transparent;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.form-narrow {
	background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%), url(/images/Crest.png) no-repeat center top/contain; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.8))), url(/images/Crest.png) no-repeat center top/contain; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(/images/Crest.png) no-repeat center top/contain; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(/images/Crest.png) no-repeat center top/contain; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(/images/Crest.png) no-repeat center top/contain; /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(/images/Crest.png) no-repeat center top/contain; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	max-width: 35%;
	min-width: 340px;
	padding: 20px 30px 30px;
	margin: 0 auto 20px;
	border-radius: 10px;
}
.form-heading {
	margin-top: 0px;
	margin-bottom: 15px;
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 30px rgba(255,255,255,1), 0px 0px 50px rgba(255,255,255,1), 0px 0px 180px rgba(255,255,255,1);
}
a.passinfo, a.passinfo:hover {
	color: #999999;
	line-height: 30px;
	margin-left: 5px;
	text-decoration: none;
}
a.passinfo:focus {
	color: #999999;
	text-decoration: underline;
}
.no-account-yet {
	margin-top: 5px;
	color: #999999;
}
.form-wide {
	background: #FFFFFF;
	max-width: 100%;
	min-width: 340px;
	padding: 20px 30px 30px;
	margin: 0 auto 20px;
	border-radius: 10px;
}
.form-subheading {
	margin-top: 0px;
	margin-bottom: 5px;
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 30px rgba(255,255,255,1), 0px 0px 50px rgba(255,255,255,1), 0px 0px 180px rgba(255,255,255,1);
}
.form-description {
	margin-bottom: 15px;
}
.no-pad {
	padding: 0px;
}
.form-group {
	padding-left: 10px;
	padding-right: 10px;
}
.form-sep {
	margin-top: 5px
}
.profile-item {
	font-size: 18px;
}
.profile-item-title {
	font-weight: bold;
	padding-right: 5px;
}
.under-button {
	margin-top: 5px;
}
.linkup-label {
	padding-left: 30px;
	font-size: 18px;
}
.linkup-item {
	padding-top: 20px;
}
.linkup-desc {
	margin-bottom: 5px;
}
.form-cancel-div {
	height: 45px;
}
.form-cancel {
	font-size: 16px;
	position: absolute;
	bottom: 0;
	color: #d9534f;
}
.form-cancel-div > a:hover, 
.form-cancel-div > a:focus {
	color: #d9534f !important;
}
.name-drop {
	font-size: 12px;
	line-height: 20px;
}
.list-head {
	display: inline-block;
	margin-bottom: 0px;
}
.list-top-pag {
	margin-top: 0px;
	margin-bottom: 3px;
}
.pagination > li > a,
.pagination > .disabled > a {
	background: none;
	border: none;
	color: #26282b;
	padding: 6px;
	font-size: 20px;
	line-height: 22px
}
.pagination > .active > a {
	font-weight: bolder;
	background: none;
	color: #26282b;
	font-size: 22px;
	line-height: 22px;
}
.pagination > li > a:hover,
.pagination > li > a:focus {
	background: none;
	font-weight: bold;
	color: #26282b;
}
.pagination > .new-page > a:hover,
.pagination > .new-page > a:focus {
	font-weight: normal;
	text-decoration: underline;
}
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	background: none;
	color: #26282b;
	text-decoration: none;
	font-weight: normal;
}
.pagination > .active > a:hover,
.pagination > .active > a:focus {
	background: none;
	color: #26282b;
}
.show-living {
	line-height: 24px;
	display: inline-block;
	padding-top: 5px;
}
.show-all-form {
	display: inline-block;
}
.btn-show-all-form {
	padding: 1px 5px;
	margin-left: 2px;
}
.ck-show-all-form {
	margin-left: 2px;
}
.table-bottom {
	margin-top: 0px;
	margin-bottom: 5px;
	border-color: #dddddd;
}
.deke-list-table {
	margin-bottom: 0px;
}
.load-crest {
	width: 250px;
}
.load-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* .load-msg {
  border-radius: 10px;
  background-color: #fafafa;
} */
.load-bar {
  margin-bottom: 15px;
}
@media (max-width: 991px) {
	.load-crest {
		width: 100px;
	}
	.load-bar {
		width: 100px;
	}
}
/*start form-inline anti media code*/
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline .input-group > .form-control {
  width: 100%;
}
.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: none;
  margin-left: 0;
}
.form-inline .has-feedback .form-control-feedback {
  top: 0;
}
/*end form-inline anti media code*/
@media(min-width: 992px) {
	.dekelist-header > a {
		font-size: 16px;
	}
}
.dekelist-header > a {
	font-style: italic;
	color: #26282b;
}
.sidebar {
  background-color: #f3f3f3;
  border-radius: 10px;
}
.admin-edit-post {
  font-size: 16px;
  padding-left: 5px;
}
.index-header-out {
  background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%), url(/images/dkeFlag.png) no-repeat center center/cover; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.7))), url(/images/dkeFlag.png) no-repeat center top/cover; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/dkeFlag.png) no-repeat center center/cover; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/dkeFlag.png) no-repeat center center/cover; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/dkeFlag.png) no-repeat center center/cover; /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/dkeFlag.png) no-repeat center center/cover; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  border: 30px solid #fff
}
.index-header-in {
  padding: 0px;
}
.white-shadow {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 30px rgba(255,255,255,1), 0px 0px 50px rgba(255,255,255,1), 0px 0px 180px rgba(255,255,255,1);
}
.pubd {
  color: darkgreen;
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
}
.unpubd {
  color: darkred;
  font-weight: bold;
  font-size: 16px;
}
.footer {
  background: #fff;
  border-top-right-radius: 10px;
	border-top-left-radius: 10px;
  padding: 10px 0px;
}
/* Sticky footer styles -------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}
/* End Sticky footer styles -------------------------------------------------- */