/*Use this file to override bootstrap and apply custom CSS*/
/*This body padding keeps the navbar from covering up content.*/
body {
  min-height: 4000px;
  background-color: #f5f5f5;
}
.navbar {
/*	font-family: 'Droid Serif', serif;*/
	height: 90px;
	border: none;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.7))), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/dekeHouse.jpg) no-repeat center top/cover; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
.navbar-header {
	height: 89px;
}
.navbar-collapse {
	border-top: none;
	box-shadow: none;
}
.navbar-brand > img {
	height: 50px;
}
a.navbar-brand {
	padding: 20px 15px;
}
.navbar-default .navbar-nav > li > a {
	line-height: 50px;
	padding: 20px 15px;
	color: #26282b;
	font-size: 22px;
	font-style: italic;
	font-family: "Trebuchet MS", sans-serif;
}
@media(max-width: 991px){
	.navbar-brand > img {
		height: 40px;
	}
}
.navbar-toggle {
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 11px 12px;
}
.navbar-toggle .icon-bar {
	width: 28px;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 8px;
}