.centered {
  text-align: center;
}
.card {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 3rem 0;
  padding: 2.5rem;
  background-color: #fff;
}
.welcome {
  background-image: url(/images/housefade7070100cut2.jpg);
  background-repeat:no-repeat;
  background-size:100% auto;
  background-position:top;
}
.hide {
  display:none !important;
}