<div class="container">
	<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
		<h2 class="form-signin-heading">Create a User Account</h2>

		<% if(flash && flash.err) { %>
			<% console.log(flash.err) %>
			<div class="alert alert-danger">
		<% Object.keys(flash.err).forEach(function(error) { %>
			<% if(flash.err[error].length > 1) { _.each(flash.err[error], function(subError) {%>
				<div><%- subError.message %></div>
			<% })} else { %>
				<div><%- flash.err[error].message %></div>
			<% } %>
		<% }) %>
		</div>
		<% } %>
		
		<input type="text" class="form-control" placeholder="email address" name="email">
		<br />
		<input type="password" class="form-control" placeholder="password" name="password" id="password">
		<br />
		<input type="password" class="form-control" placeholder="password confirmation" name="confirmation">
		<br />

		<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>