<div class="ccontainer">
  
  <% if(flash && flash.err) { %>
  <div class="error card four columns offset-by-four">
    <% Object.keys(flash.err).forEach(function(error) { %>
    <div><%- flash.err[error].message %></div>
    <% }) %>
  </div>
  <% } %>
  <div class="card four columns offset-by-four">
    <form action="/user/create" method="POST" id="sign-up-form" class="form-narrow">
      <h3>Create Your Account:</h3>
      <input type="text" class="u-full-width" placeholder="enter your email address" name="email">
      <input type="password" class="u-full-width" placeholder="enter a password" name="password" id="password">
      <input type="password" class="u-full-width" placeholder="confirm your password" name="confirmation">
      <input type="text" class="u-full-width" placeholder="enter your first name" name="firstName">
      <input type="text" class="u-full-width" placeholder="enter your last name" name="lastName">
      <input type="text" class="u-full-width" placeholder="enter your graduation year" name="gradYear">
      <input type="password" style="margin-bottom: 0" class="u-full-width" placeholder="enter the sigma tau passphrase" name="passphrase">
      <a style="font-size:1rem" class="passinfo">what's this?</a>
      <br><br>
      <input type="submit" value="Create Account"/>
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
  </div>
</div>