<div class="container">

	<% if(flash && flash.successMsg) { %>
		<% console.log(flash.successMsg); %>
		<div class="alert alert-success"><%- flash.successMsg[0].message %></div>
	<% } %>

	<div>Email: <%= user.email %></div>
	<div><a class="btn btn-primary" href="/user/edit/<%= user.id %>">Edit Info</a></div>
</div>