<div class="ccontainer">
  <div class="card">
    <h1>Leadership In Action: The Campaign for Sigma Tau!</h1>
    <h5>
      Kicked off at the 125th Sigma Tau Reunion Celebration in May 2015, <em>"Leadership In Action"</em> is a capital campaign designed to fund a grand renovation to preserve, strengthen and improve the Deke House. 
    </h5>
  </div>
  <div class="row">
    <div class="eight columns">
      <div class="stacked card">
        <h3>A Note from the Campaign Committee</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper, leo sed tristique pellentesque, massa neque rhoncus nisl, sed dictum libero diam sed massa. Donec et semper arcu. Sed fringilla ullamcorper lorem. Pellentesque lacus magna, tempor ac ultrices quis, fringilla consectetur diam. Pellentesque venenatis magna a tellus gravida, eget laoreet mi ultrices. Curabitur ultrices sapien lectus, quis porta nisi facilisis eget. Vivamus sed congue lorem. Maecenas faucibus mi sed ante vehicula, sed posuere nibh sagittis. Mauris vitae vestibulum est, ut condimentum felis. Suspendisse potenti. Mauris sodales nisi at libero ultrices vulputate.</p><p>Nunc consectetur massa eleifend orci commodo, ac accumsan sem eleifend. Proin scelerisque fermentum pellentesque. Nulla nec arcu ornare, imperdiet nisl eget, efficitur augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi ac nibh sed orci ornare sagittis dapibus lacinia libero. Etiam vestibulum finibus feugiat. Suspendisse diam eros, aliquet vestibulum condimentum non, ultrices vel ex. Phasellus malesuada vulputate ex, vitae iaculis ante. Nullam quis mi dapibus, condimentum sem eu, volutpat lectus. Nunc et consequat sem. Integer accumsan bibendum arcu, et interdum arcu congue id. Cras consequat, augue ac pellentesque aliquet, neque nisl tincidunt ipsum, ut scelerisque neque leo ornare dui. Integer ultricies, sapien in condimentum faucibus, nibh sapien imperdiet mauris, eu tempor enim quam a nibh. Fusce mollis ac arcu id porttitor. Donec vel sapien sit amet dui egestas molestie.</p><p>Cras vestibulum egestas quam, eget pulvinar quam tristique eget. Donec vehicula et lorem eget vehicula. Suspendisse dui dolor, consectetur non erat a, ornare interdum quam. Quisque lacinia erat erat, ut tristique lectus fermentum in. Nullam quis accumsan dolor, eu elementum mauris. Cras vel lectus odio. Mauris eget leo a lacus congue pharetra et sit amet dui. Integer posuere ornare tellus, non iaculis quam pretium nec. Quisque ante dolor, pulvinar vel molestie id, bibendum in mauris. Nulla et ornare massa, sit amet sodales libero. Aliquam tempor facilisis justo sit amet ornare. Duis placerat justo non turpis ultricies dignissim.</p>
      </div>
    </div>
    <div class="four columns">
      <div class="stacked card centered">
        <h3>Latest Renovation Designs</h3>
        <h3><a href="campaign/exterior_front_designdev.pdf" target="_blank">Exterior - Front</a></h3>
        <h3><a href="campaign/exterior_addition_designdev.pdf" target="_blank">Exterior - Addition</a></h3>
        <h3><a href="campaign/firstfloor_designdev.pdf" target="_blank">First Floor</a></h3>
        <h3><a href="campaign/secondfloor_designdev.pdf" target="_blank">Second Floor</a></h3>
        <h3><a href="campaign/thirdfloor_designdev.pdf" target="_blank">Third Floor</a></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="stacked card">
      <h1>Campaign Progress: $2.8M Raised. $1.2M to go!</h1>
    </div>
  </div>
</div>
