<div class="ccontainer">
  <div class="card">
    <div class="row">
      <div class="three columns">
        <img src="/images/Crest.png">
      </div>
      <div class="nine columns">
        <h1><em>Leadership In Action:<br>The Campaign for Sigma Tau</em></h1>
        <h5>Kicked off at the 125th Sigma Tau Reunion Celebration in May 2015, <em>"Leadership In Action"</em> is a capital campaign designed to fund a grand renovation to preserve, strengthen and improve the Deke House.</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <div class="stacked card">
        <h3><strong>Campaign Status Update - November 2016</strong></h3>
        <p>The public phase of the Capital Campaign to restore the Dekehouse kicked off at the alumni dinner in the spring of 2016. The Capital Campaign Committee mailed campaign brochures and pledge forms to all alumni over the summer (see links on this page). Class Representatives have been contacting alumni by email and phone to garner support. To meet the construction schedule, we need your help now.</p>
        <p>As of the beginning of November, we have total pledges of $1,180,000, about halfway to our fundraising goal of $2.2 million.  $780,000 is documented in pledge forms, and $400,000 is verbal commitments. We have 5 pledges over $100,000, 13 pledges between $25,000 and $99,999, 10 pledges between $10,000 and $24,999, and 50 pledges less than $10,000. From these pledges, we have received $173,000 in direct-to-ASTADKE donations with another $287,000 donated to MIT's IRDF.  The IRDF donations are not available to us until the project is completed.</p>
        <p>To start construction in 2017, we need to have accessible funds of at least $2.7 million. We have secured a $1.5 million loan from the MIT IRDF which, when added to the $173,000 in cash donations, leaves us about $1.0 million short.  Unfortunately, donations spread over several years or IRDF donations don’t provide the needed cash-in-hand.   Obtaining a commercial construction loan to cover the shortfall may or may not be possible and would leave us betting on donations that, if they don’t materialize, could put our house at risk.</p>
        <h5><strong>What can you do to help?</strong></h5>
        <p><strong>If you have already made and fulfilled your pledge,</strong> thank you very much. Your early participation goes a long way to making the project feasible. Please reach out to other Brothers and encourage their support.</p>
        <p><strong>If you have already submitted a pledge form,</strong> thank you for your support. Please make your donations in a timely fashion in accordance with your commitment. If you can accelerate your donations, that would be a tremendous help for our cash flow.  Please reach out to other Brothers and encourage their support.</p>
        <p><strong>If you have made a verbal commitment,</strong> please document your pledge by sending in a pledge form. This helps us track donations, confirms the expected timing of donations, and helps us send out reminders.  Then, please reach out to other Brothers and encourage their support.</p>
        <p><strong>If you have not yet made a pledge,</strong> please do so using the pledge form. If you have any questions about ways to give, refer to the campaign brochure or contact me at <a href="mailto:rgrismala@comcast.net" target="_blank">rgrismala@comcast.net</a>. Then, please reach out to other Brothers and encourage their support.</p>
        <p><strong>If you want to help,</strong> we can use more Class Representatives to contact alumni. Help us reach out to other Brothers and encourage their support. Contact me at rgrismala@comcast.net to lend a hand.</p>
        <p>Together, we will make this happen. Please make an extra effort – today – in whatever way you can.</p>
        <p>In the bonds,<br>Sandy Warrick ’72 and Ralph Grismala ’77<br>Capital Campaign Co-chairs</p>
      </div>
    </div>
    <div class="four columns">
      <div class="stacked card centered">
        <h3><strong>Campaign Information</strong></h3>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-amVSUDk4VXBXZUE" target="_blank">Pledge Form</a></h4>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-RE9MbkxqSEI1ekk" target="_blank">Project Brochure</a></h4>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-aEc0bUx6bU4tajQ" target="_blank">May 2016 Update</a></h4>
        <hr>
        <h3><strong>Latest Renovation Designs</strong></h3>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-ZmJNQm51eWlUOHc" target="_blank">Drawing PDF</a></h4>
      </div>
    </div>
  </div>
</div>
