<div class="ccontainer">
  <div class="card">
    <div class="row">
      <div class="three columns">
        <img src="/images/Crest.png">
      </div>
      <div class="nine columns">
        <h1><em>Leadership In Action:<br>The Campaign for Sigma Tau</em></h1>
        <h5>Kicked off at the 125th Sigma Tau Reunion Celebration in May 2015, <em>"Leadership In Action"</em> is a capital campaign designed to fund a grand renovation to preserve, strengthen and improve the Deke House.</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <div class="stacked card">
        <h3><strong>Photos From The Project!</strong></h3>
        <p>
          At long last, our renovation work has begun! Follow along with the progress by flipping through the album below, and reading our periodic updates in the <a href="http://astadke.org" target="_blank">blog</a>. Been here before? Jump to the latest pictures by clicking the left arrow on the slideshow below.
        </p>
        <div class="centered" id="flickrembed"></div><small style="display: block; text-align: center; margin: 0 auto;"></small><script src="//flickrembed.com/embed_v2.js.php?source=flickr&layout=responsive&input=www.flickr.com/photos/124194760@N05/albums/72157681705000733&sort=5&by=album&theme=default&scale=fit&skin=default&id=5934824b8b83a"></script>
        
      </div>
    </div>
    <div class="four columns">
      <div class="stacked card centered">
        <h3><strong>Campaign Information</strong></h3>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-amVSUDk4VXBXZUE" target="_blank">Pledge Form</a></h4>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-RE9MbkxqSEI1ekk" target="_blank">Project Brochure</a></h4>
        <h4><a href="/campaign/novUpdate" target="_blank">November 2016 Update</a></h4>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-aEc0bUx6bU4tajQ" target="_blank">May 2016 Update</a></h4>
        <hr>
        <h3><strong>Latest Renovation Designs</strong></h3>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-ZmJNQm51eWlUOHc" target="_blank">Drawing PDF</a></h4>
      </div>
    </div>
  </div>
</div>
