<div class="ccontainer">
  <div class="card">
    <div class="row">
      <div class="three columns">
        <img src="/images/Crest.png">
      </div>
      <div class="nine columns">
        <h1><em>Leadership In Action:<br>The Campaign for Sigma Tau</em></h1>
        <h5>Kicked off at the 125th Sigma Tau Reunion Celebration in May 2015, <em>"Leadership In Action"</em> is a capital campaign designed to fund a grand renovation to preserve, strengthen and improve the Deke House.</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <div class="stacked card">
        <h3><strong>Photos From The Project!</strong></h3>
        <p>
          At long last, our renovation work has begun! Follow along with the progress by flipping through the album below, and reading our periodic updates in the <a href="http://astadke.org" target="_blank">blog</a>. Unfortunately, at this time this album is not optimized for mobile, so you may have difficulty viewing on a phone. Scroll to the end to see the latest photos! Last updated on 6/24/17.
        </p>
        <div class="centered" id="flickrembed"><a data-flickr-embed="true"  href="https://www.flickr.com/photos/124194760@N05/albums/72157681705000733" title="DKE Sigma Tau Renovation Progress"><img src="https://c1.staticflickr.com/5/4277/34935442002_55d64f21dc_o.jpg" width="640" height="480" alt="DKE Sigma Tau Renovation Progress"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></div>
        
      </div>
      <div class="stacked card">
        <h3><strong>Campaign Status Update - May 2017 ... and Urgent Plea for Cash</strong></h3>
        <img class="centered" src="/images/sittingOnBeam.png">
        <h5><strong>No Time for Sitting Around ... Construction Is Underway but There’s Still More Work To Do</strong></h5>
        <p>The cost to complete the full restoration project is $3,007,000. We have secured a $2 million loan from the MIT Independent Residence Development Fund (IRDF). As of early May 2017, we have total pledges of $1,274,000. So what’s the problem? Many of the pledges are spread over as many as five years. Pledges are not cash and can’t be used to pay the contractor. So far, we have received $289,000 in direct contributions to ASTADKE. We expect to receive another $258,000 from donations that Dekes have made to MIT’s IRDF.</p>
        <p>This leaves us with a cash flow shortfall of $460,000. We can finance part of this with other ASTADKE funds on hand, but we don’t want to leave ASTADKE overexposed or overextended financially. Plus, as anyone who has been involved in a major construction project knows, there may be other unexpected expenses.</p>
        <h5><strong>What Can You Do to Help? (Send money, obviously.)</strong></h5>
        <p><strong>If you have already made and fulfilled your pledge,</strong> thank you very much. If you can do more, even better.</p>
        <p><strong>If you have made a pledge,</strong> thank you for your support. Please make your donations in a timely fashion in accordance with your commitment. If you can accelerate your donations, that would help our cash flow.</p>
        <p><strong>If you have not yet made a pledge,</strong> please do so using the <a href="https://drive.google.com/open?id=0B8delS4nCow-amVSUDk4VXBXZUE" target="_blank">pledge form</a>. If you have any questions about ways to give, refer to the <a href="https://drive.google.com/open?id=0B8delS4nCow-RE9MbkxqSEI1ekk" target="_blank">campaign brochure</a> or contact me at <a href="mailto:rgrismala@comcast.net" target="_blank">rgrismala@comcast.net</a>. Then, please reach out to other Brothers and encourage their support.</p>
        <h5><strong>Brothers, It’s Now or Never</strong></h5>
        <p>The Dekehouse restoration project has been in the works for nearly 10 years. Construction is finally happening and we all want it to succeed, but project financing remains tight. If we do not close the cash flow gap, some parts of the project will have to be deferred beyond 2017 and will ultimately cost more.</p>
        <p>Together, we will make this happen. Please make an extra effort—today—in whatever way you can. Then, please reach out to other brothers and encourage their support as well.</p>
        <p>In the bonds,<br>Sandy Warrick ’72 and Ralph Grismala ’77<br>Capital Campaign Co-chairs</p>
      </div>
    </div>
    <div class="four columns">
      <div class="stacked card centered">
        <h3><strong>Campaign Information</strong></h3>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-amVSUDk4VXBXZUE" target="_blank">Pledge Form</a></h4>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-RE9MbkxqSEI1ekk" target="_blank">Project Brochure</a></h4>
        <h4><a href="/campaign/novUpdate" target="_blank">November 2016 Update</a></h4>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-aEc0bUx6bU4tajQ" target="_blank">May 2016 Update</a></h4>
        <hr>
        <h3><strong>Latest Renovation Designs</strong></h3>
        <h4><a href="https://drive.google.com/open?id=0B8delS4nCow-ZmJNQm51eWlUOHc" target="_blank">Drawing PDF</a></h4>
      </div>
    </div>
  </div>
</div>
