<div class="ccontainer">
    <div class="row card">
        <div class="twelve columns">
            <h1 class="centered">Sigma Tau appreciates your support.</h1>
            <div class="centered">
                Without the generous donations of alumni, our active chapter would not be able to maintain the level of success it has had for over 125 years. Your contributions help keep our alumni community strong, keep the physical DKE house itself up to date and in shape, and enable ASTADKE to serve as a safety net to protect the house and brothers in the event of any emergency, be it physical or fiscal in nature. 
            </div>
            <h5 class="centered">Thank you for your continued generosity!</h5>
            <form class="centered" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="9ZVJASF9XYX6S">
                <input type="submit" class="button-primary newDonate" border="0" value="Make a Donation to 'Leadership in Action: The Campaign for Sigma Tau'" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            <form class="centered" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="7N7BNNFT44PUC">
                <input type="submit" class="button-primary newDonate" border="0" value="Make an an Unrestricted Donation to ASTADKE" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

        </div>
        <div class="twelve columns centered">
            <img style="max-height:500px" src="/images/dkeFlag.png" />
        </div>
    </div>
</div>
