<div class="container form-wide">
  <div class="row">
    <div class="col-md-7">
      <h1 class="donate-heading">Sigma Tau appreciates your support.</h1>
      <div class="donate-story">
        Without the generous donations of alumni, our active chapter would not be able to maintain the level of success it has had for nearly 125 years. Your contributions help keep our alumni community strong, keep the physical DKE house itself up to date and in shape, and enable ASTADKE to serve as a safety net to protect the house and brothers in the event of any emergency, be it physical or fiscal in nature. 
      </div>
      <h3 class="text-center">Thank you for your continued generosity!</h3>
      <form class="donate-button text-center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7N7BNNFT44PUC">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="/images/dkeFlag.png" />
    </div>
  </div>
</div>
