<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Sails Foundation</h1>
    <p>Built as a template for things that tend to be written with many sails apps (maybe?)</p>
    <p>Eventually, this page will document what's here on top of a standard sails app. Clearly, <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a> is one of them</p>
    <p>
      <a class="btn btn-lg btn-primary" href="https://github.com/zwrose/sails-foundation" role="button" target="_blank">Check out the source on GitHub &raquo;</a>
    </p>
  </div>

</div> <!-- /container -->