<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>ASTADKE Secure: Coming Soon</h1>
    <p>The secure, authenticated extension to astadke.org will be here soon!</p>
    <p>Currently, though, it's still very much under development. No peeking!</p>
  </div>

</div> <!-- /container -->