<div class="ccontainer">
    <div class="row card">
        <div class="twelve columns">
            <h1 class="centered">We're having some technical difficulties.</h1>
            <div class="centered">
                Our auto-self-serve info update system has hit some snags. For now, please update your information by emailing <A HREF="mailto:alumni_relations@astadke.org?Subject=Update%20My%20Contact%20Info%21&Body=Dear%20DKE%20List%20Editor%2C%0A%0APlease%20update%20my%20contact%20information%20to%20the%20following%3A%0A%0A%3Center%20your%20new%20contact%20information%20here%21%3E%0A%0AITB%2C%0A%3C...this%20is%20where%20you%20put%20your%20name%20%3A%29%3E" target="_blank">alumni_relations@astadke.org</A>. 
            </div>
            <h5 class="centered">Thank you for your patience!</h5>

        </div>
        <div class="twelve columns centered">
            <img style="max-height:500px" src="/images/dkeFlag.png" />
        </div>
    </div>
</div>
