<div class="container form-wide">
  <h1 class="text-center thank-you-heading">Thank you for contributing to ASTADKE.</h1>
  <div class="thank-you-text text-center">
    Your donation is greatly appreciated, and will help us continue to make our chapter great!
  </div>
  <div class="thank-you-text text-center">
    Click one of the links in the navigation bar above to keep enjoying astadke.org.
  </div>
  <img class="thank-you-img img-responsive center-block" src="/images/lewJackBust.jpg" />
  <h4 class="thank-you-caption text-center">
    Friends from the Heart, forever.
  </h4>
</div>
