<div class="ccontainer">
  <div class="card centered">
    <h1>Thank you for contributing to ASTADKE.</h1>
    <h6>
      Your donation is greatly appreciated, and will help us continue to make our chapter great!<br>
      Click one of the links in the navigation bar above to keep enjoying astadke.org.
    </h6>
    <img style="max-height:550px" src="/images/lewJackBust.jpg" />
    <h4>
      Friends from the Heart, forever.
    </h4>
  </div>
</div>
