<div class="ccontainer">
  <% if(flash && flash.err) { %>
  <div class="error card">
    <% Object.keys(flash.err).forEach(function(error) { %>
    <div><%- flash.err[error].message %></div>
    <% }) %>
  </div>
  <% } %>
  <div class="card">
    <form action="/blog/create" method="POST">
      <h1>New Blog Article</h1>
      <label for="articleTitle">Article Title</label>
      <input type="text" id="articleTitle" class="twelve columns" placeholder="enter an article title" name="articleTitle">
      <h6>To add an image(s) to an article they must first be uploaded to flickr:</h6>
      <div>First, go to <a target="_blank" href="https://www.flickr.com">flickr.com</a> and log in using the credentials on <a target="_blank" href="https://docs.google.com/file/d/0BxMBcEWJ5pm9ZDZGOFRCT3Ntc2s/edit">this google doc</a> (don't have access to the google doc? <a target="_blank" href="mailto:astadke@gmail.com">let maintenance know</a>). Once logged in, click "Upload" and upload all the necessary images. To put an image in an article, click the image in the flickr photostream. Then, in the right-hand panel, click the share icon (box with arrow out of top-right corner). Here, click "HTML" and make sure the "HTML" radio button is also selected. In the embed code, highlight and copy ONLY the "src" URL, excluding the quotes. This should start with something like "https://farmX.staticflickr...." and end with the file extension. Last step: back on the blog edit page, insert an image using the CKEditor toolbar and paste this src URL into the URL field. That should do it!</div>
      <br>
      <label for="articleBody">Article Text:</label>
      <textarea class="twelve columns" id="articleBody" name="articleBody"></textarea>
      <label class="radio-inline">
        <input type="radio" name="publish" value="live" checked> Publish Now
      </label>
      <label class="radio-inline">
        <input type="radio" name="publish" value="draft"> Save as Draft
      </label>
      <input type="submit" value="Submit Article"/>
      <br>
      <a href="/blog/admin">Cancel</a>
      
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
  </div>
</div>
<script src="/ckeditor/ckeditor.js"></script>
<script>
  // text editor
  CKEDITOR.replace('articleBody', {
    height: 400
  });
</script>